* {
  scroll-behavior: auto;
}
body{
    margin:0;
    padding: 0;
    box-sizing: content-box;
    overflow-x: hidden;
    background-color: black;
}
.navBar{
  position: fixed;
   width: 100%; top:0; 
  z-index: 2;
 
  color:white !important;
    
}
.logo{
    height:30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 8px;
}
.homePageParent{
    height: 90vh;
    width:99.7vw;
    border:1px solid black;
    display: flex;
    background-image: url('./images/hompagebackground.gif');
    

}
.ambuj{
  display: block;
  color:white;
  font-size: 30px;
  margin-top: -10px;
  margin-left: 10px;
}
.navBarName{
  
  color:white;
  font-family: 'Orbitron';
  font-size: 0.85rem;
  
  letter-spacing: 1px;
}

.homePageChild1{
    height:100%;
    flex:2;
    /*border:1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5% 1%;
    color: white;
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
}
.homePageChild2{
    height:100%;
    flex:3;
     /*border:1px solid red;*/
}
.homePageChild3{
    height:100%;
    flex:2;
     /*border:1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2% 1%;
    color: white;
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
}

.homePageChild11{
    width:90%;
    height:14%;
    /*outline: 1px solid red;*/
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:2%;
    
}

.homePageChild12{
    width:90%;
    height:14%;
    /*outline: 1px solid red;*/
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
   
}

.homePageChild31{
    width:90%;
    height:14%;
    /*outline: 1px solid red;*/
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:2%;
}

.homePageChild32{
    width:90%;
    height:14%;
    /*outline: 1px solid red;*/
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
}
.homePageName{
    width:60%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    margin:2% auto;
    /*outline: 1px solid red;*/
    

}
.homePageImage{
    width: 100%;
    height: 40%;
}
.homePageImage img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 1;
}

.homePageWebDeveloper{
    width:60%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    margin:2% auto;
   /*outline: 1px solid red;*/
}
.homePageIcon{
    width:40%;
    height: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Orbitron';
    
   
    background-color: black;
    color: white;
    margin:2% auto;
    /*outline: 1px solid red;*/
}
.fa{
    color:white;
    font-size: 20px;
}



  /* about me*/

  .aboutMe{
    display:flex;
    height: 90vh;
    width:99.7vw;
    /* outline: 1px solid red;*/
    background-image: url('./images/aboutme.gif');

  }
  .aboutMeChild1{
    flex:1;
    /* outline: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutMeChild2{
    flex:3;
   /* outline: 1px solid red;*/
    display: flex;
    flex-direction: column;
  }
  .aboutMeChild3{
    flex:1;
   /* outline: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutMeChild21{
    width:90%;
    min-height: 55%;
    margin:auto;
   background-image: url('./images/screen2.webp');
    background-size: cover;
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    padding: 5% 5%;
    object-fit: contain;

  }
  .aboutMeChild21 img{
    width:100%;
    height:100%;
  }
.aboutMeChild22{
    width:40%;
    height:18%;
    margin: auto;
   /* outline: 1px solid red;*/
    margin-bottom: 10%;
}
.aboutMeChild22 img{
    height:100%;
    width:100%;
    
}
.aboutMeChild11{
    height: 40%;
    width:70%;
}
.aboutMeChild11 img{
    height: 100%;
    width: 100%;
}

.aboutMeChild31{
    height: 40%;
    width:70%;
}
.aboutMeChild31 img{
    height: 100%;
    width: 100%;
}
.resume{
    margin-top: 2%;
    padding:2%;
}
.resumeBtn{
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    padding: 3% 5%;
    border: none;

}

.aboutMeMainText{
    text-align: center;
    font-family: 'Orbitron';
    font-size: 1.5rem;
    font-weight: 650;
    letter-spacing: 1px;
    background-color: black;
    color: white;
}
  /* about me*/

   /* skills*/
  
   .skills{
   
    display:flex;
    height: 90vh;
    width:99.7vw;
    margin:auto;
   
    justify-content: center;
    align-items: center;
    /*outline: 1px solid red;*/
    background-image: url('./images/hompagebackground.gif');
    position: relative;
    
    
    

  }
.skillsHeading{
    padding-top: 1%;
}
.skillsMiddleImage{
    height:30%;
    width:25%;
    /*outline: 1px solid red;*/
    position: relative;
}
.skillsMiddleImage img{
    height:100%;
    width: 100%;
}
.skillMiddleText{
    padding: 3%;
    font-family: 'Orbitron';
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    top: 37%;
    left: 25%;
    position: absolute;
    
    /*outline: 1px solid red;*/
    
}

.skillIcon{
    position: absolute;
    left:5%;
    bottom: 4%;
    height:20%;
    width: 8%;
    /*outline: 1px solid red;*/
}
.skillIconImage{
    width:97%;
    height:75%;
    /*outline: 1px solid red;*/
    margin: auto;
}
.skillIconImage img{
    width:100%;
    height: 99%;
}
.skillIconProgressBar{
    margin: 4% auto;
    width:95%;
    height:24%;
}
/* skills*/


/* projectss*/

.project{
   
    
    height: 92vh;
    width:98.5vw;
   
    display: flex;
    flex-direction: column;
    
    /*outline:1px solid red;*/
    background-image: url('./images/aboutme.gif');
   
    
    
  }
  .projectsHeading{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: black;
}
.projectChild1{
    width:100%;
    height:16%;
    /*outline:1px solid red;*/
    position: relative;
}
.projectChild11{
    position: absolute;
    left:52%;
     /*outline:1px solid red;*/
    height:90%;
    width:40%;
    top:5%;
    display: flex;
}

.projectChild2{
    width:100%;
    height:16%;
    /*outline:1px solid red;*/
    position: relative;
}
.projectChild21{
    position: absolute;
    left:38%;
    /*outline:1px solid red;*/
    height:90%;
    width:40%;
    top:5%;
    display: flex;
}
.projectChild3{
    width:100%;
    height:16%;
    /*outline:1px solid red;*/
    position: relative;
}
.projectChild31{
    position: absolute;
    left:30%;
    /*outline:1px solid red;*/
    height:90%;
    width:40%;
    top:5%;
    display: flex;
}
.projectChild4{
    width:100%;
    height:16%;
     /*outline:1px solid red;*/
    position: relative;
}
.projectChild41{
    position: absolute;
    left:22%;
    /*outline:1px solid red;*/
    height:90%;
    width:40%;
    top:5%;
    display: flex;
}
.projectChild5{
    width:100%;
    height:16%;
    /*outline:1px solid red;*/
    position: relative;
}
.projectChild51{
    position: absolute;
    left:14%;
     /*outline:1px solid red;*/
    height:90%;
    width:40%;
    top:5%;
    display: flex;
}
.projectChild6{
    width:100%;
    height:16%;
    /*outline:1px solid red;*/
    position: relative;
}

.projectChild61{
    position: absolute;
    left:6%;
    /*outline:1px solid red;*/
    height:90%;
    width:40%;
    top:5%;
    display: flex;
}
.projectIconImage{
    width:25%;
     /*outline:1px solid red;*/
    height:100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectIconImage img{
    width:90%;
    height:80%;
}
.projectIconName{
    width:55%;
     /*outline:1px solid red;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
    font-size: 0.87rem;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    text-transform: uppercase;
}
.projectIconButton{
    width:20%;
     /*outline:1px solid red;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    background-color: black;
}

.projectIconButton button{
    width:130%;
    height:120%;
    font-family: 'Orbitron';
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    padding: 3% 5%;
    border: none;
    border-radius: 30%;
}





/* projectss*/

/* Achievements*/
.achievement{
   
    
    height: 92vh;
    width:98.5vw;
   
    display: flex;
    flex-direction: column;
    
    /*outline: 1px solid red;*/
    background-image: url('./images/aboutme.gif');
    
   
    
    
  }

  .achievementChild1{
    flex:2;
    /*outline: 1px solid red;*/
    position: relative;

  }
 
  .achievementChild11{
    position: absolute;
    
    left:20%;
    top:5%;
    /*outline: 1px solid red;*/
    

  }
  .achievementWidthHeight{
    width:50%;
    height:90%;
  }
  .achievementName{
    text-align: center;
    width:100%;
    height:25%;
     /*outline: 1px solid red;*/
    font-family: 'Orbitron';
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    
    
  }
  .achievementAlign{
    /*outline: 1px solid red;*/
    height:75%;
    width:100%;
    display: flex;
  }
  .achievementChild111{
    width:25%;
    /*outline: 1px solid red;*/
    background-color: black;
    background-color: rgb(46, 45, 45);
    
  }
  .achievementImage{
    height:90%;
    width:80%;
    display: flex;
    margin: auto;
    padding-top: 8%;
   
    
  }
  .achievementImage img{
    width:100%;
    height: 100%;
  }
  .achievementChild112{
    width:57%;
    /*outline: 1px solid red;*/
    
  }
  .achievementChild1121{
    padding-top: 2%;
     height:40%;
    text-align:center;
     font-family: 'Orbitron';
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 1px;
     background-color: black;
     color: white;

  }
  .achievementChild1122{
    height:60%;
    text-align:center;
     font-family: 'Orbitron';
     font-size: 0.8rem;
     font-weight: 200;
     letter-spacing: 1px;
     background-color: black;
     color: white;
   
    
 }
  .achievementChild113{
    width:18%;
     /*outline: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .achievementChild113 button{
    
    font-family: 'Orbitron';
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border: none;
    
  }
  .achievementChild2{
    flex:2;
    /*outline: 1px solid red;*/
    position: relative;
    
  }

  .achievementChild21{
    position: absolute;
    
    left:20%;
    top:5%;
    

  }
  .achievementChild211{
    width:25%;
     /*outline: 1px solid red;*/
    background-color: black;

    
  }
  .achievementChild212{
    width:50%;
     /*outline: 1px solid red;*/
  }
  .achievementChild2121{
    padding-top: 5%;
    height:50%;
    text-align:center;
     font-family: 'Orbitron';
     font-size: 1rem;
     font-weight: 200;
     letter-spacing: 1px;
     background-color: black;
     color: white;
   
  }
  .achievementChild2122{
    padding-top: 3%;
    height:50%;
    text-align:center;
     font-family: 'Orbitron';
     font-size: 1rem;
     font-weight: 200;
     letter-spacing: 1px;
     background-color: black;
     color: white;
   
  }
  .achievementChild213{
    width:25%;
     /*outline: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3%;
    background-color: black;
  }
  .achievementChild213 button{
    font-family: 'Orbitron';
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border: none;
    
  }
  .achievementChild3{
    flex:1.5;
     /*outline: 1px solid red;*/
    position: relative;
    
  }
  .achievementChild31{
    position: absolute;
    
    left:20%;
    top:5%;
    

  }
  .achievementChild311{
    width:25%;
     /*outline: 1px solid red;*/
    background-color: black;
    
  }
  .achievementChild312{
    width:55%;
     /*outline: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: black;
    color: white;

  }
  .achievementChild313{
    width:20%;
    /*outline: 1px solid red;*/
    background-color: black;
  }
  .achievementChild3{
    flex:1.5;
    /*outline: 1px solid red;*/
    position: relative;
    
  }
  .achievementChild4{
    flex:1.5;
     /*outline: 1px solid red;*/
    position: relative;
    
  }
  .achievementChild41{
    position: absolute;
    
    left:20%;
    top:5%;
    

  }
  .achievementChild411{
    width:25%;
     /*outline: 1px solid red;*/
    background-color: black;
    
  }
  .achievementChild412{
    width:55%;
    /*outline: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: black;
    color: white;
  }
  .achievementChild413{
    width:20%;
    /*outline: 1px solid red;*/
    background-color: black;
  }
  


/* Achievements*/

/*Experience*/
.experience{
height: 92vh;
width:98.5vw;

display: flex;
flex-direction: column;

/*outline: 1px solid red;*/
background-image: url('./images/aboutme.gif');
}
.experienceChild1{
  /*outline: 1px solid red;*/
  position: relative;
  height:33%;
}
.experienceChild11{
  position: absolute;
  width:70%;
  height:93%;
 /*outline: 1px solid red;*/
  left:7%;
  top:3%;
  background-image: url('./images/exp.jpg');
  background-size: contain;
  background-repeat: repeat;
  
}
.experienceChild11 img{
  height:100%;
  width: 100%;
}
.experienceChild2{
  /*outline: 1px solid red;*/
  position: relative;
  height:33%;
}
.experienceChild21{
  position:absolute;
  width:70%;
  height:93%;
  /*outline: 1px solid red;*/
  right:7%;
  top:3%;
  background-image: url('./images/exp.jpg');
  background-size: contain;
  background-repeat: repeat;
  
}
.experienceChild3{
  /*outline: 1px solid red;*/
  position: relative;
  height:33%;
}
.experienceChild31{
  position: absolute;
  width:70%;
  height:93%;
  /*outline: 1px solid red;*/
  left:7%;
  top:3%;
  background-image: url('./images/exp.jpg');
  background-size: contain;
  background-repeat: repeat;
  
  
}
.experienceName{
 
  text-align: center;
  font-family: 'Orbitron';
  font-size: 1.4rem;
  font-weight: 550;
  letter-spacing: 1px;
  
  color: white;
  


}
.experienceText{
 
  text-align: center;
  font-family: 'Orbitron';
  font-size: 0.9rem;
  font-weight: 150;
  letter-spacing: 1px;
  
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  


}
.makeBold{
  font-size: 1.3rem;
  font-weight: 600;
}

.training{
  height: 92vh;
  width:98.5vw;
  
  display: flex;
  flex-direction: column;
  
  /*outline: 1px solid red;*/
  background-image: url('./images/homepageimag1.gif');
  }
.trainingChild1{
  position: relative;
  /*outline: 1px solid red;*/
  height:20%;

}
.trainingAlignment{
  position: absolute;
  height:96%;
  width:60%;
  top:2%;
  bottom: 2%;
  /*outline: 1px solid red;*/
 
  background-color: black;

}
.trainingChild11{
  left:5%;
}
.trainingChild2{
  position: relative;
 /*outline: 1px solid red;*/
  height:20%;

}
.trainingChild21{
  left:20%;
}
.trainingChild3{
  position: relative;
  /*outline: 1px solid red;*/
  height:20%;

}
.trainingChild31{
  left:35%;
}
.trainingChild4{
  position: relative;
  /*outline: 1px solid red;*/
  height:20%;

}
.trainingChild41{
  left:15%;
}
.trainingChild5{
  position: relative;
  /*outline: 1px solid red;*/
  height:20%;

}
.trainingChild51{
  left:5%;
}
.trainingName{
  text-align: center;
  font-family: 'Orbitron';
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  
  color: white;
  
  
}
.trainingText{
  text-align: center;
  font-family: 'Orbitron';
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  
  color: white;

}
.trainingMakeBold{
  font-size: 1.1rem;
  font-weight: 600;
}
/*Experience*/


  





  @media only screen and (max-width: 600px) {
    body{
        margin:0;
        padding:0;
        overflow-x: hidden;
    }
    .homePage{
      margin-top: 0%;
    }
    .homePageParent{
      margin-top: 13%;
    }
    .homePageName{
        font-size: 1.3rem;
        font-weight: 600;
    }
    .homePageWebDeveloper{
        font-size: 1rem;
        font-weight: 450;
    }
    .homePageChild1{
        display: none;
    }
    .homePageChild3{
        display: none;
    }
    .aboutMe{
        flex-direction: column;
    }
    .aboutMeChild21{
       
        font-size: 0.6rem;
        font-weight: 400;
    }
    .aboutMeChild1{
        height:20%;
    }
    .aboutMeChild3{
        height: auto;
    }
    .aboutMeChild11{
        height: 90%;
        width: 30%;
    }
    .aboutMeChild{
        height:auto;
    }
    .aboutMeChild31{
        height: 65%;
        width: 30%;
    }
    .aboutMeChild22{
       
        margin-bottom: 8%;
    }
    .aboutMeChild3{
        height:20%;
    }
    .skillsMiddleImage{
        height:20%;
        width:55%;
        
        position: relative;
    }
    .skillsMiddleImage img{
        height:100%;
        width: 100%;
    }
    .skillMiddleText{
        padding: 3%;
        font-family: 'Orbitron';
        font-size: 0.76rem;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: black;
        color: white;
        top: 37%;
        left: 40%;
        position: absolute;
       
        
    }

    .skillIcon{
        position: absolute;
        left:5%;
        bottom: 4%;
        height:13%;
        width: 20%;
        /*outline: 1px solid red;*/
    }
    .projectChild11{
        width:100%;
        left:0;
    }
    .projectChild21{
        width:100%;
        left:0;
    }
    .projectChild31{
        width:100%;
        left:0;
    }
    .projectChild41{
        width:100%;
        left:0;
    }

    .projectChild51{
        width:100%;
        left:0;
    }
    .projectChild61{
        width:100%;
        left:0;
    }
    .projectIconName{
        width:55%;
        /*outline:1px solid red;*/
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Orbitron';
        font-size: 0.8rem;
        font-weight: 300;
        letter-spacing: 1px;
        background-color: black;
        color: white;
        text-transform: uppercase;
    }

    .projectIconButton button{
        width:130%;
        height:100%;
        font-family: 'Orbitron';
        font-size: 0.6rem;
        font-weight: 300;
        letter-spacing: 1px;
        background-color: black;
        color: white;
        padding: 3% 5%;
        border: none;
        border-radius: 30%;
    }
    .achievementWidthHeight{
        left:2%;
        width:90%;
        height:90%;
      }
      .achievementName{
        text-align: center;
    width:100%;
    height:25%;
    /*outline: 1px solid red;*/
    font-family: 'Orbitron';
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: black;
    color: white;
      }
      .achievementAlign{
        /*outline: 1px solid red;*/
        height:75%;
        width:100%;
        display: flex;
      }

      .achievementChild1121{
        padding-top: 2%;
         height:40%;
        text-align:center;
         font-family: 'Orbitron';
         font-size: 0.9rem;
         font-weight: 400;
         letter-spacing: 1px;
         background-color: black;
         color: white;
    
      }
      .achievementChild1122{
        height:60%;
        text-align:center;
         font-family: 'Orbitron';
         font-size: 0.6rem;
         font-weight: 200;
         letter-spacing: 1px;
         background-color: black;
         color: white;
       
        
     }
     .achievementChild213 button{
        font-family: 'Orbitron';
        font-size: 0.6rem;
        font-weight: 200;
        letter-spacing: 1px;
        background-color: black;
        color: white;
        border: none;
        
      }

      .experienceChild11{
        position:absolute;
        width:90%;
        height:90%;
       /*outline: 1px solid red;*/
        left:4%;
        top:4%;
      }
      .experienceChild21{
        position:absolute;
        width:90%;
        height:90%;
      /*outline: 1px solid red;*/
        right:4%;
        top:4%;
      }
      .experienceChild31{
        position:absolute;
        width:90%;
        height:90%;
       /*outline: 1px solid red;*/
        left:4%;
        top:4%;
      }
      .experienceName{
        text-align: center;
        font-family: 'Orbitron';
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
       
        color: white;
      
      
      }
      .experienceText{
 
        text-align: center;
        font-family: 'Orbitron';
        font-size: 0.6rem;
        font-weight: 50;
        letter-spacing: 1px;
        
        color: white;
        margin:auto 10px;
        padding:auto;
        
      
      
      }
      .makeBold{
        font-size: 0.8rem;
        font-weight: 150;
      }
      .trainingAlignment{
        position: absolute;
        height:85%;
        width:90%;
        top:7%;
       /*outline: 1px solid red;*/
        left:5%;
      
      }
     
      .trainingText{
        text-align: center;
        font-family: 'Orbitron';
        font-size: 0.6rem;
        font-weight: 150;
        letter-spacing: 1px;
        
        color: white;
      
      }
      .trainingMakeBold{
        font-size: 0.7rem;
        font-weight: 600;
      }
      .trainingName{
        text-align: center;
        font-family: 'Orbitron';
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 1px;
        
        color: white;
        
        
      }
      
  }
